/**
 * Dark theme compatible with basic.css styling
 *
 * @section Dark theme
 *
 * @example <div class="theme--dark" style="padding: var(--gap); color: var(--color-text); background-color:var(--color-main)">Main color</div>
 * @example <div class="theme--dark" style="padding: var(--gap); color: var(--color-text); background-color:var(--color-accent)">Accent color</div>
 * @example <div class="theme--dark" style="padding: var(--gap); color: var(--color-text); background-color:var(--color-content-background)">Content background color</div>
 * @example <div class="theme--dark" style="padding: var(--gap); color: var(--color-text); background-color:var(--color-site-background)">Background color</div>
 */

.theme--dark {
  --max-width: 1200px;
  --gap: 16px;
  --rounding: 6px;
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --color-text: #f9f9f9;
  --color-main: #6699ff;
  --color-main-complimentary: #ffffff;
  --color-accent: #ff6699;
  --color-accent-complimentary: #ffffff;
  --color-site-background: #161518;
  --color-content-background: #323240;
  --color-content-accent: #242325;
  --shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
  --font-size-base: 18px;
}
